
.btn-book{
    background-color: white;
}

.rounded-pill{
    background-color: beige;
}

.three{
    border-radius: 25px;
}

.hot{
    top: -10px;
    right: 30px;
    background-color: rgb(245, 72, 72);
    padding: 0 8px;
    border-radius: 15px;
}

